<div class="container" [formGroup]="form">
  <div class="row">

    <div class="col-xxl-8 mb-5">
      <div class="row mb-3 ms-1">
        <div class="col-auto border-start border-top border-bottom rounded-start d-flex align-items-center justify-content-center">
          <i class="bi bi-plus-lg fs-5 pointer" (click)="zoomIn()"></i>
        </div>
        <div class="col-1 border-end border-start border-top border-bottom d-flex align-items-center justify-content-center">
          <span>{{ zoomPercent }}%</span>
        </div>
        <div class="col-auto border-end border-top border-bottom rounded-end d-flex align-items-center justify-content-center">
          <i class="bi bi-dash-lg fs-5 pointer" (click)="zoomOut()"></i>
        </div>
      </div>

      <div class="table-responsive" [ngStyle]="{'zoom': zoomPercent + '%'}">
        <table class="">
          <tbody>
            @for (row of matrix; track row; let rowNum = $index) {
              <tr>
              @for (col of row; track col; let colNum = $index) {
                <td class="pointer p-1">
                  <div [ngClass]="col.group === currentGroup ? 'led-border-highlight' : 'led-border'">
                    <div 
                      class="d-flex justify-content-center align-items-center led"
                      (click)="setColour(rowNum, colNum)"
                      [style.background-color]="col.colour !== null ? rgbToHex(col.colour.r, col.colour.g, col.colour.b) : defaultColour"
                    >
                      @if (displayLedNumbers) {
                        <span>{{ col.num }}</span>
                      }
                    </div>
                  </div>
                </td>
              }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xxl-4">
      <h5 class="mb-3">Colour picker</h5>

      <label for="colourPicker" class="visually-hidden">Pick a colour</label>
      <input 
        id="colourPicker" 
        type="color" 
        class="form-control form-control-color mb-5"
        style="width: 80px; height: 80px;"
        [value]="defaultColour"
        title="Choose a colour"
        (change)="changeColour($event)"
      >


      <div class="mb-5">
        <h5 class="mb-3">Data groups</h5>
    
        <div class="d-flex gap-3 mb-3">
          <input type="text" class="form-control flex-grow-1" placeholder="Enter group name" formControlName="newGroup">
          <button type="submit" class="btn btn-primary text-nowrap" (click)="addGroup()">Add group</button>
        </div>

        <ul class="list-group">
          @for (group of groups; track group) {
            <li 
              class="pointer list-group-item d-flex justify-content-between align-items-center" 
              [ngClass]="{'active': group === currentGroup}" 
              (click)="setGroup(group)"
            >
              {{ group }}
              <span class="ms-auto">
                <i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#editGroupName" (click)="editGroup(group)"></i>
                <i class="bi bi-x-lg ms-2" (click)="removeGroup(group)"></i>
              </span>
            </li>
          }
        </ul>
      </div>


      <h5 class="mb-3">Code</h5>

      <div class="position-relative">
        <i class="bi bi-clipboard pointer position-absolute top-0 end-0 m-3 me-4" id="copyIcon" (click)="copyToClipboard()" style="z-index: 10;"></i>
        <div id="code" class="p-3 mb-5 text-bg-light border overflow-auto rounded" style="height: 300px;">
          @for (data of flatMatrixString(); track data) {
            <pre class="mb-0 code">{{ data }}</pre>
          }
        </div>
      </div>


      <div class="mb-5">
        <h5 class="mb-3">Settings</h5>

        <fieldset class="row g-3 mb-4">
          <legend class="col-form-label mt-2">Matrix dimensions ({{ width }} W x {{ height }} H)</legend>
          <div class="col mt-0">
            <label for="matrixWidth" class="visually-hidden">Width</label>
            <input type="text" id="matrixWidth" class="form-control flex-grow-1" type="number" formControlName="matrixWidth" placeholder="Enter width">
          </div>
          <div class="col mt-0">
            <label for="matrixHeight" class="visually-hidden">Height</label>
            <input type="text" id="matrixHeight" class="form-control flex-grow-1" type="number" formControlName="matrixHeight" placeholder="Enter height">
          </div>
          <div class="col-auto mt-0">
            <button type="submit" class="btn btn-primary text-nowrap" (click)="setMatrixDimensions()">Apply</button>
          </div>
        </fieldset>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="displayLedNumbers" [checked]="displayLedNumbers" (change)="toggleDisplayLedNumbers($event)">
          <label class="form-check-label" for="displayLedNumbers">Display LED numbers</label>
        </div>
      </div>

      <h5 class="mb-3">Save file</h5>

      <div class="d-flex gap-3 mb-5">
        <label for="fileName" class="visually-hidden">Enter file name</label>
        <input type="text" id="fileName"class="form-control flex-grow-1" formControlName="fileName" placeholder="Enter file name">
        <button class="btn btn-primary text-nowrap" (click)="saveToFile()">Save</button>
      </div>


      <h5 class="mb-3">Load file</h5>

      <label for="loadFile" class="visually-hidden">Load from file</label>
      <input class="form-control mb-0" type="file" id="loadFile" (change)="loadFromFile($event)">
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editGroupName" tabindex="-1" aria-labelledby="editGroupNameLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editGroupNameLabel">Edit group name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" formControlName="editGroup">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveGroupChanges()" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>